blog_posts/*
blog_posts_jsonl/*
versioned_docs_jsonl/*
versioned_docs/*
docs/*
kb_assets_jsonl/*
kb_assets/*
bin/MacOS/*
notes/*
notes_jsonl/*
projects/*
snippets_jsonl/*
snippets/*
Data Generator/secrets/*
chatml_jsonl/*
chatml_catalog_jsonl/*
text/versioned_docs_jsonl/*
text/kb_assets_jsonl/*
chatml_blog_jsonl/*
errors/*
text/*
Data Generator/Project/Sources/Methods/github_generate_project_map.4dm
